annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
Django==6.0.6
dnspython==2.8.0
fastapi==0.141.1
motor==3.7.1
mysqlclient==2.2.8
numpy==2.2.4
pydantic==2.13.4
pydantic_core==2.46.4
pymongo==4.17.0
python-dotenv==1.2.2
requests==2.32.3
uvicorn==0.52.1
