{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            TechGear
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'catalog/css/products.css' %}"
    >

</head>


<body>


<header class="header">

    <div class="header-container">


        <a
            href="{% url 'home' %}"
            class="logo"
        >
            💻 TechGear
        </a>


        <nav class="nav">

            <a href="{% url 'home' %}">
                Inicio
            </a>

            <a href="{% url 'product_list' %}">
                Catálogo
            </a>
<a href="{% url 'contact' %}">
    Contacto
</a>

        </nav>


    </div>

</header>


<main>

    {% block content %}
    {% endblock %}

</main>


<footer
    class="footer"
    id="contacto"
>

    <div>

        <strong>
            💻 TechGear
        </strong>

        <p>
            Hardware y accesorios tecnológicos.
        </p>

    </div>

    <p>
        © 2026 TechGear. Todos los derechos reservados.
    </p>

</footer>


</body>

</html>