{% extends "catalog/base.html" %}
{% load static %}

{% block title %}
    Inicio | TechGear
{% endblock %}

{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'catalog/css/home.css' %}"
>

{% endblock %}


{% block content %}

<section class="hero">

    <div class="hero-content">

        <p class="hero-subtitle">
            BIENVENIDO A TECHGEAR
        </p>

        <h1>
            Tecnología para llevar
            tu experiencia al siguiente nivel.
        </h1>

        <p>
            Descubre hardware y accesorios tecnológicos
            seleccionados para ofrecer rendimiento,
            calidad y confiabilidad.
        </p>

        <div class="hero-buttons">

            <a
                href="{% url 'product_list' %}"
                class="hero-button primary"
            >
                🛒 Ver catálogo
            </a>

            <a
                href="{% url 'contact' %}"
                class="hero-button secondary"
            >
                📩 Contáctanos
            </a>

        </div>

    </div>

</section>


<section class="welcome-section">

    <p class="subtitle">
        TECHGEAR STORE
    </p>

    <h2>
        Todo lo que necesitas en tecnología
    </h2>

    <p>
        En TechGear encontrarás productos tecnológicos
        para estudiar, trabajar, jugar y disfrutar
        de una mejor experiencia digital.
    </p>

</section>

{% endblock %}